<a href="https://colab.research.google.com/github/quotation3/DB_Finance/blob/main/Sentiment_Lexicon/9_%EB%82%A0%EC%9E%90%EB%B3%84_tone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ngram 날짜별로 합치기

In [ ]:
import pandas as pd
from tqdm import tqdm

In [ ]:
news = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/test_ngram_only_topic.csv')
news

            date  ...                                           fivegram
0     2017-01-02  ...  ['한국;배터리;보조금;제외;화학', '배터리;보조금;제외;화학;삼성', '보조금;...
1     2017-01-02  ...  ['리더십;시대;분석;산업;혁명', '시대;분석;산업;혁명;리더', '분석;산업;혁...
2     2017-01-02  ...  ['구본무;회장;창립;올해;시작', '회장;창립;올해;시작;구본무', '창립;올해;...
3     2017-01-02  ...  ['한국;배터리;설;자리;장착', '배터리;설;자리;장착;차량', '설;자리;장착;...
4     2017-01-02  ...  ['충전;시간;사용;노트북;시판', '시간;사용;노트북;시판;충전', '사용;노트북...
...          ...  ...                                                ...
7447  2019-12-30  ...  ['화학;놀이터;화학;캠프;과학', '놀이터;화학;캠프;과학;교육', '화학;캠프;...
7448  2019-12-30  ...  ['배터리;시가총액;돌파;배터리;시가총액', '시가총액;돌파;배터리;시가총액;돌파'...
7449  2019-12-30  ...  ['전자;폴란드;브로츠와프;배터리;분리', '폴란드;브로츠와프;배터리;분리;공장',...
7450  2019-12-30  ...  ['결산;산업;소송;화재;다사다난', '산업;소송;화재;다사다난;배터리', '소송;...
7451  2019-12-30  ...  ['남;메시지;남;메시지;국내', '메시지;남;메시지;국내;정치', '남;메시지;국...

[7452 rows x 7 columns]

In [ ]:
for i in range(len(news)):
    try:
        news['nouns'][i] = ''.join(news['nouns'][i].replace('[','').replace(']','').replace("'",''))
        news['bigram'][i] = ''.join(news['bigram'][i].replace('[','').replace(']','').replace("'",''))
        news['trigram'][i] = ''.join(news['trigram'][i].replace('[','').replace(']','').replace("'",''))
        news['fourgram'][i] = ''.join(news['fourgram'][i].replace('[','').replace(']','').replace("'",''))
        news['fivegram'][i] = ''.join(news['fivegram'][i].replace('[','').replace(']','').replace("'",''))
    except:
        pass

In [ ]:
news['ngram'] = ''
for i in range(len(news)):
    try:
        news['ngram'][i] = news['nouns'][i] +', '+ news['bigram'][i] +', '+ news['trigram'][i] +', '+ news['fourgram'][i] +', '+ news['fivegram'][i]
    except:
        pass

In [ ]:
for i in range(len(news)):
    try:
        news['nouns'][i] = news['nouns'][i].split(',')
        news['ngram'][i] = news['ngram'][i].split(',')
    except:
        pass

In [ ]:
news

            date  ...                                              ngram
0     2017-01-02  ...  [한국,  배터리,  보조금,  제외,  화학,  삼성,  날벼락,  한국,  배터...
1     2017-01-02  ...  [리더십,  시대,  분석,  산업,  혁명,  리더,  경영인,  누굴까,  리더...
2     2017-01-02  ...  [구본무,  회장,  창립,  올해,  시작,  구본무,  회장,  창립,  올해,...
3     2017-01-02  ...  [한국,  배터리,  설,  자리,  장착,  차량,  보조금,  제외,  국산, ...
4     2017-01-02  ...  [충전,  시간,  사용,  노트북,  시판,  충전,  시간,  사용,  노트북,...
...          ...  ...                                                ...
7447  2019-12-30  ...  [화학,  놀이터,  화학,  캠프,  과학,  교육,  기부,  화학,  놀이터,...
7448  2019-12-30  ...  [배터리,  시가총액,  돌파,  배터리,  시가총액,  돌파,  세계,  최대, ...
7449  2019-12-30  ...  [전자,  폴란드,  브로츠와프,  배터리,  분리,  공장,  증설,  전자,  ...
7450  2019-12-30  ...  [결산,  산업,  소송,  화재,  다사다난,  배터리,  업계,  결산,  산업...
7451  2019-12-30  ...  [남,  메시지,  남,  메시지,  국내,  정치,  김대중,  대통령,  동지,...

[7452 rows x 8 columns]

In [ ]:
news = news.sort_values(by="date")
news.reset_index(inplace=True, drop=True)

In [ ]:
ngram_news = news[['date','ngram']]

In [ ]:
ngram_news

            date                                              ngram
0     2017-01-02  [한국,  배터리,  보조금,  제외,  화학,  삼성,  날벼락,  한국,  배터...
1     2017-01-02  [구본무,  회장,  과거,  성공,  방식,  의미,  시대,  변화,  성장, ...
2     2017-01-02  [구본무,  회장,  창업,  위기,  영속,  토대,  창업,  위기,  영속, ...
3     2017-01-02  [연초,  사드,  보복조치,  관계,  복원,  먹구름,  中,  연초,  사드,...
4     2017-01-02  [구본무,  회장,  창업,  정신,  시작,  구본무,  회장,  창업,  정신,...
...          ...                                                ...
7447  2019-12-30  [굿바이,  도련님,  회장,  재계,  세대,  교체,  도련님,  회장,  재계...
7448  2019-12-30  [화학,  놀이터,  화학,  캠프,  과학,  교육,  기부,  화학,  놀이터,...
7449  2019-12-30  [배터리,  시가총액,  돌파,  배터리,  시가총액,  돌파,  세계,  최대, ...
7450  2019-12-30  [전자,  폴란드,  브로츠와프,  배터리,  분리,  공장,  증설,  전자,  ...
7451  2019-12-30  [남,  메시지,  남,  메시지,  국내,  정치,  김대중,  대통령,  동지,...

[7452 rows x 2 columns]

In [ ]:
ngram_news_by_date = ngram_news.groupby(ngram_news['date']).sum()

In [ ]:
ngram_news_by_date.reset_index(inplace=True)

In [ ]:
ngram_news_by_date

           date                                              ngram
0    2017-01-02  [한국,  배터리,  보조금,  제외,  화학,  삼성,  날벼락,  한국,  배터...
1    2017-01-03  [경제,  사드,  신음,  경제,  사드,  신음,  고고,  미사일,  방어, ...
2    2017-01-04  [바이오,  시장,  토종,  신약,  임박,  바이오,  시장,  토종,  신약,...
3    2017-01-05  [그룹,  총수,  재계,  신년,  사회,  메시지,  신뢰,  회복,  종합, ...
4    2017-01-06  [사드,  보복,  얼굴,  野,  의원,  정부,  서한,  묵묵부답,  사드, ...
..          ...                                                ...
725  2019-12-23  [뉴시스,  선정,  산업,  뉴스,  뉴시스,  선정,  산업,  뉴스,  대한민...
726  2019-12-24  [현대차,  전용,  플랫,  장착,  전기차,  배터리,  낙점,  물량,  현대...
727  2019-12-26  [차,  구광모,  미래,  사업,  선택,  집중,  차,  구광모,  미래,  ...
728  2019-12-27  [올해,  국내,  기업,  사상,  최대,  올해,  국내,  기업,  사상,  ...
729  2019-12-30  [결산,  산업,  소송,  화재,  다사다난,  배터리,  업계,  결산,  산업...

[730 rows x 2 columns]

### 주식 개장 기준으로 날짜 변경

In [ ]:
stock = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical_stock.csv')
stock

           date   price  volume  change
0    2019-12-30  317500  168990    2.25
1    2019-12-27  310500  149622    0.81
2    2019-12-26  308000  166208   -1.44
3    2019-12-24  312500  224260   -0.16
4    2019-12-23  313000  121761   -0.48
..          ...     ...     ...     ...
728  2017-01-06  266000   84524   -0.56
729  2017-01-05  267500  148537   -0.37
730  2017-01-04  268500  255597    2.48
731  2017-01-03  262000  253540    3.56
732  2017-01-02  253000  294947   -3.07

[733 rows x 4 columns]

In [ ]:
news_by_date_stock = pd.merge(ngram_news_by_date,stock, how='outer', on='date')

In [ ]:
news_by_date_stock["date"] = pd.to_datetime(news_by_date_stock["date"])
news_by_date_stock = news_by_date_stock.sort_values(by="date")

In [ ]:
from math import isnan
for i in range(len(news_by_date_stock)):
    if isnan(news_by_date_stock['price'][i]):
        for j in range(i+1,len(news_by_date_stock)):
            if isnan(news_by_date_stock['price'][j]):
                continue
            else:
                news_by_date_stock['price'][i]=news_by_date_stock['price'][j]
                news_by_date_stock['volume'][i]=news_by_date_stock['volume'][j]
                news_by_date_stock['change'][i]=news_by_date_stock['change'][j]
                news_by_date_stock['date'][i]=news_by_date_stock['date'][j]
                break

In [ ]:
news_by_date_stock = news_by_date_stock[['date','ngram']]

In [ ]:
news_by_date_stock_only_market = news_by_date_stock.groupby(news_by_date_stock['date']).sum()

In [ ]:
news_by_date_stock_only_market

                                                        ngram
date
2017-01-02  [한국,  배터리,  보조금,  제외,  화학,  삼성,  날벼락,  한국,  배터...
2017-01-03  [경제,  사드,  신음,  경제,  사드,  신음,  고고,  미사일,  방어, ...
2017-01-04  [바이오,  시장,  토종,  신약,  임박,  바이오,  시장,  토종,  신약,...
2017-01-05  [그룹,  총수,  재계,  신년,  사회,  메시지,  신뢰,  회복,  종합, ...
2017-01-06  [사드,  보복,  얼굴,  野,  의원,  정부,  서한,  묵묵부답,  사드, ...
...                                                       ...
2019-12-23  [뉴시스,  선정,  산업,  뉴스,  뉴시스,  선정,  산업,  뉴스,  대한민...
2019-12-24  [현대차,  전용,  플랫,  장착,  전기차,  배터리,  낙점,  물량,  현대...
2019-12-26  [차,  구광모,  미래,  사업,  선택,  집중,  차,  구광모,  미래,  ...
2019-12-27  [올해,  국내,  기업,  사상,  최대,  올해,  국내,  기업,  사상,  ...
2019-12-30  [결산,  산업,  소송,  화재,  다사다난,  배터리,  업계,  결산,  산업...

[733 rows x 1 columns]

### 날짜별 tone 계산

In [ ]:
ps = pd.read_csv('/content/drive/MyDrive/DB_Finance/data/polarity_score_only_topic.csv')
ps.columns=['word','score']
ps

         word     score
0           非  0.546174
1           韓  0.656229
2          가격  1.275462
3       가격;강세  4.842620
4      가격;경쟁력  1.585847
...       ...       ...
9950       중국  1.384565
9951      차세대  1.213854
9952      포스코  0.525595
9953       화재  1.261666
9954       화학  1.622288

[9955 rows x 2 columns]

In [ ]:
ps['label'] = ''
for i in range(len(ps)):
    try:
        if ps['score'][i] > 1:
            ps['label'][i] = 1
        elif ps['score'][i] < 1:
            ps['label'][i] = -1
    except:
        pass

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
ps.reset_index(inplace=True, drop=True)

In [ ]:
news_by_date_stock_only_market['tone']=''
news_by_date_stock_only_market['word_cnt']=''
news_by_date_stock_only_market['polar_cnt']=''

In [ ]:
for i in tqdm(range(len(news_by_date_stock_only_market))):
    cnt=0
    polar=0
    for j in range(len(ps)):
        try:
            if ps['word'][j] in news_by_date_stock_only_market['ngram'][i]:
                cnt+=1
                polar+=ps['label'][j]
            news_by_date_stock_only_market['word_cnt'][i] = cnt
            news_by_date_stock_only_market['polar_cnt'][i] = polar
            news_by_date_stock_only_market['tone'][i] = news_by_date_stock_only_market['polar_cnt'][i]/news_by_date_stock_only_market['word_cnt'][i]
        except:
            news_by_date_stock_only_market['tone'][i] = 0

100%|██████████| 733/733 [54:02<00:00,  4.42s/it]

In [ ]:
news_by_date_stock_only_market

                                                        ngram  ... polar_cnt
date                                                           ...
2017-01-02  [한국,  배터리,  보조금,  제외,  화학,  삼성,  날벼락,  한국,  배터...  ...       -81
2017-01-03  [경제,  사드,  신음,  경제,  사드,  신음,  고고,  미사일,  방어, ...  ...       360
2017-01-04  [바이오,  시장,  토종,  신약,  임박,  바이오,  시장,  토종,  신약,...  ...       285
2017-01-05  [그룹,  총수,  재계,  신년,  사회,  메시지,  신뢰,  회복,  종합, ...  ...       181
2017-01-06  [사드,  보복,  얼굴,  野,  의원,  정부,  서한,  묵묵부답,  사드, ...  ...       147
...                                                       ...  ...       ...
2019-12-23  [뉴시스,  선정,  산업,  뉴스,  뉴시스,  선정,  산업,  뉴스,  대한민...  ...        74
2019-12-24  [현대차,  전용,  플랫,  장착,  전기차,  배터리,  낙점,  물량,  현대...  ...       169
2019-12-26  [차,  구광모,  미래,  사업,  선택,  집중,  차,  구광모,  미래,  ...  ...       176
2019-12-27  [올해,  국내,  기업,  사상,  최대,  올해,  국내,  기업,  사상,  ...  ...        95
2019-12-30  [결산,  산업,  소송,  화재,  다사다난,  배터리,  업계,  결산,  산업...  ...       117

[733 rows x 4 columns]

In [ ]:
news_by_date_stock_only_market.reset_index(inplace=True)

In [ ]:
news_by_date_stock_only_market["date"] = pd.to_datetime(news_by_date_stock_only_market["date"])
stock["date"] = pd.to_datetime(stock["date"])

In [ ]:
final = pd.merge(news_by_date_stock_only_market,stock, how='inner', on='date')

In [ ]:
final

          date  ... change
0   2017-01-02  ...  -3.07
1   2017-01-03  ...   3.56
2   2017-01-04  ...   2.48
3   2017-01-05  ...  -0.37
4   2017-01-06  ...  -0.56
..         ...  ...    ...
728 2019-12-23  ...  -0.48
729 2019-12-24  ...  -0.16
730 2019-12-26  ...  -1.44
731 2019-12-27  ...   0.81
732 2019-12-30  ...   2.25

[733 rows x 8 columns]

### 상관관계 도출

In [ ]:
result = final[['tone','change']]

In [ ]:
result

          tone  change
0   -0.0822335   -3.07
1     0.258993    3.56
2     0.265116    2.48
3     0.163505   -0.37
4     0.258348   -0.56
..         ...     ...
728   0.129825   -0.48
729   0.174767   -0.16
730   0.151986   -1.44
731   0.111372    0.81
732   0.153342    2.25

[733 rows x 2 columns]

In [ ]:
result = result.astype({'tone':'float'})
result = result.astype({'change':'float'})

In [ ]:
result.corr()

            tone    change
tone    1.000000  0.529069
change  0.529069  1.000000

In [ ]:
final.to_csv('/content/drive/MyDrive/DB_Finance/data/lg_chemical_final_only_topic.csv', index=False)